body{
    background-color: aqua;
}

ul.navbar-nav.my-2.my-lg-0.navbar-nav-scroll {
    gap: 50px;
}

div#navbarScroll {
    justify-content: center;
}


a.nav-link {
    color: black;
    font-size: 25px;
}

#navbarScroll li a:hover{
    color: rgb(110, 87, 224);
}


img.icons {
    width: 30px;
    height: 30px;
}


img.profile {
    width: 500px;
    height: auto;
    padding-right: 150px;
}


button.home-contact {
    /* color: #bb28bb; */
    background-color: rgb(110, 87, 224);
    color: white;
    font-size: 25px;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
}

footer{
    background-color: rgb(110, 87, 224);
}

.col-md-6 {
    padding: top;
    padding-top: 200px;
    flex-direction: column;
}


div#home-social {
    padding-left: 250px;
    padding-top: 200px;
    flex-direction: column;
}

div#home-data {
    padding-right: 50px;
    padding: 100px 50px;
}